/.idea/
/.vscode/
.DS_Store
node_modules/
vendor/
.env
.env.*
.phpunit.result.cache
/.coverage/
/.php_cs.cache
/.php-cs-fixer.php.cache
/.php-cs-fixer.cache
/.phpstan/cache/
/.cache/
/.dist/
composer.phar
*.log
/.editorconfig
.build/